@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .print-safe {
    background-color: #000 !important;
  }

  .print-safe button.bg-white {
    background-color: #ffffff !important;
  }

  .print-safe button.bg-black {
    background-color: #000000 !important;
  }

  .print-safe button {
    border-color: #16a34a !important; /* Tailwind's green-600 */
  }
}
